<p *ngIf="feats.length < 1">Carregando....</p>
<article>
  <div *ngFor="let feat of feats" class="div">
    <div class="card">
      <h1>{{feat.artista_principal.toLowerCase()}} ft travis scott</h1>
      <h1 >{{feat.titulo_faixa.toLowerCase()}}</h1>
      <h1>{{feat.ano}}</h1>
      <h1>{{feat.visualizacoes}} views</h1>
      <h1>duration: {{feat.duracao}}</h1>
      <!-- <div></div> -->

      <a target="_blank" href={{feat.link_spotify}}>
        <img  src={{feat.imagem}} alt="img of the album">
      </a>
    </div>
  </div>
</article>
