<article>
  <h1>travis scott</h1>
  <p>travis scott, born jacques berman webster ii on april 30, 1991, in houston, texas, is an american rapper, singer, songwriter, and record producer. he began his music career in 2013 with his debut mixtape, <em>owl pharaoh</em>. his first studio album, <em>rodeo</em> (2015), featured the hit single "antidote" and was followed by his second album, <em>birds in the trap sing mcknight</em> (2016). his third album, <em>astroworld</em> (2018), was a major success and included the hit "sicko mode."</p>

  <p>travis scott has collaborated with prominent artists such as drake, kanye west, and kendrick lamar. he is also known for his fashion collaborations with brands like nike, including popular releases like the air force 1 and air max sneakers, and a notable partnership with mcdonald's for the "travis scott meal."</p>

  <p>his live performances are celebrated for their high energy and elaborate stage setups. however, he faced significant controversy following the astroworld festival in november 2021, where a crowd surge led to multiple fatalities and injuries.</p>
  <img src="https://pyxis.nymag.com/v1/imgs/527/9ca/267fd20e6b312fb4f1f4f6bae4106ecfc0-GettyImages-1550979538.rhorizontal.w700.jpg" alt="travis scott image">

  <!-- <p class="last">you see that its missing an music, or an album</p>
  <button>click here</button> -->
</article>
