<p *ngIf="singles.length < 1">Carregando....</p>
<article>
  <div *ngFor="let single of singles" class="div">
    <div class="card">
      <h1 >{{single.titulo.toLowerCase()}}</h1>
      <h1>{{single.ano}}</h1>
      <h1 *ngIf="single.colaboradores.length > 1">ft. {{single.colaboradores.toString().toLowerCase()}}</h1>
      <h1 *ngIf="single.colaboradores.length < 1">solo</h1>
      <h1>{{single.visualizacoes}} views</h1>
      <h1>duration: {{single.duracao}}</h1>
      <!-- <div></div> -->

      <a target="_blank" href={{single.link_spotify}}>
        <img  src={{single.imagem}} alt="img of the album">
      </a>
    </div>

  </div>
</article>
