<p *ngIf="albuns.length < 1">Carregando....</p>
<br>
<a class="a" href="/add-album">
  <button>add new album</button>
</a>
<article>
  <div *ngFor="let album of albuns" class="divmaster">
    <div class="card">
      <h1 class="h1card">{{album.titulo.toLowerCase()}}</h1>
      <h1 class="h1card">{{album.ano}}</h1>
      <a target="_blank" href={{album.link_spotify}}>
        <img class="" src={{album.capa}} alt="img of the album">
      </a>
      <p>id: {{album.id}}</p>
      <div *ngFor="let music of album.faixas">
        <h1 >{{music.titulo.toLowerCase()}}</h1>
      </div>
    </div>
  </div>
</article>
