article {
  margin: 5% 5% 0 5%;
  display: flex;
  justify-content: space-between;
}

.a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divmaster{
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  padding: auto;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  height: 590px;
  width: 300px;
  margin-bottom: 20px;
}


h1 {
  text-wrap: balance;
  margin: auto;
}

img {
  width: 150px;
  height: 150px;
  margin: auto;
}

button {
  border: 2px solid white;
  margin-top: 5px;
  border-radius: 15px;
}
